@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Shadows+Into+Light&display=swap');
@import "tailwindcss";

@theme {
    --font-google:"Shadows Into Light", cursive;
    --color-primary: #331c1c;
    --color-bg: #F6B165;
    --color-sc: #fad2a8;
    --color-third: #411e1e;
}

